@media screen and (max-width: 768px) {
  .pc_nav {
    display: none;
  }
  .bar_menu {
    display: flex;
    flex-direction: column;
  }
  nav {
    justify-content: flex-start;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    padding: 10px;
    cursor: pointer !important;
  }
  nav ul li:hover {
    background-color: whitesmoke;
    color: black;
    transition: all 0.2s linear !important;
  }
  nav ul li:hover a {
    color: black;
  }
  .user_mobile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  .hamburger_menu {
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 30px;
  }
  .menu-toggle {
    display: none;
  }
  .menu-toggle:checked ~ .side_bar_menu {
    display: block !important;
  }
  .side_bar_menu {
    display: none;
  }
  .menu-toggle:checked .side_bar_menu {
    display: block !important;
  }
  .user_mobile p {
    font-size: 14px;
  }
  .banner {
    margin-top: 85px;
  }
  .banner h1 {
    font-size: 50px;
  }
  .banner img {
    max-width: 90%;
  }
  .tv-show_topic {
    margin: 20px auto;
    width: 89%;
  }
  .card_container {
    margin: 18px;
  }
  .card_container img {
    width: 88%;
  }
}
